h1{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 170px;
    position: absolute;
}
h2{
    margin-top: 60px;
}
.red-container{
    padding: 40px 0px;
    background: #f4473a;
    border-top: 5px solid #f96b61;
    border-bottom: 5px solid #f96b61;
    border: 1px solid black;
}



h3{
    text-align: center;
}
.carousel-control-prev{
    background-position: 100% 0;
    left: 0;
    opacity: 1;
}

.carousel-control-next{
    background-position: 100% 0;
    right: 0;
    opacity: 1;

}


section{
    
    position: relative;
}

.conta{
    margin-left: 450px;
}

.nav-link{
    color: grey;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grey-container{   
    padding: 20px 0px 40px 0px;
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
}


footer{
    padding: 10px 0px;
    height: 90px;
    background-color: #292929;
    font-size: 12px;

}


.font-h3{
     color: white;
     font-size: 24px;
     font-weight: bold;
}


.p-font{
    margin: 0 0 10px;
    font-family: Oxygen;
    color: white;
    text-align: center;
    font-size: 15px

}

.row{
    margin-left: 100px;
    margin-right: 100px;
}


h2{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}


.font-subtext{
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    color: #aaa;
    padding-bottom: 20px;
}

.font-slider{
    color:black;
    position: relative;
    text-align: center;
    
}

.blockquote{
    float: left;
}


.row{
    font-size: 20%;
}
.font-col{
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
}
.font-row2{
    font-size: 14px;
    text-align: justify;
    padding-top: 20px;
}

.remark{
    color:#f4473a;
    font-family: Oxygen,sans-serif;
    font-size: 12px;
}
.font-h2{
    color: #606060;
    font-family: Oxygen,sans-serif;
    font-size: 12px;
    margin-top: 15px;
}
.font-p2{
    color: #606060;
    font-family: Oxygen,sans-serif;
    font-size: 14px;
    margin-bottom: 60px;
    display: block;
}

.row{
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}


.r4-h{
    color:white;
    font-size: 14px;
    text-align: justify;
    padding-top: 20px;
    border-bottom: black;
    padding-bottom: 1px; 
}


.list{
    background-color: #3b3b3b;
    font-size: 14px;
    text-align: justify;
    color: #aaa;
    list-style-type: none;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-right: 20px;
    margin-left: -40px;
    border: 1px dotted  #aaa;
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 15px;
}
.om{
    font-size: 16px;
}

.om{    
margin-left: 0px;
color: white;
}

.col-p{
    color: white;
    font-size: 14px;
    margin-top: 20px;
}



.col-p1{
    color: grey;
    font-size: 14px;
    margin-top: 20px;
}

